<a href="https://colab.research.google.com/github/GodishalaAshwith/CompCoding-Streak/blob/main/CompCoding26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Company Wise

## AMD

### 48. Rotate Image

In [1]:
def rotateImg(matrix):
  n = len(matrix)
  dup = [row[:] for row in matrix]
  for i in range(n):
    for j in range(n-1,-1,-1):
      matrix[i][n-j-1] = dup[j][i]

matrix = [[1,2,3],[4,5,6],[7,8,9]]
print("Before: ",matrix)
rotateImg(matrix)
print("After: ",matrix)

Before:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
After:  [[7, 4, 1], [8, 5, 2], [9, 6, 3]]

# Quest

##Linear Shoal

### Array I

#### Q1. Concatenation of Array

In [ ]:
def getConcatenation(nums):
    return nums+nums
nums = [1,1,2,3]
print(getConcatenation(nums))

[1, 1, 2, 3, 1, 1, 2, 3]

#### Q2. Shuffle the Array

In [ ]:
def shuffle(nums,n):
    res = []
    for i in range(n):
        res.append(nums[i])
        res.append(nums[i+n])
    return res

nums = [2,5,1,3,4,7]
n = 3
print(shuffle(nums,n))

[2, 3, 5, 4, 1, 7]

#### Q3. Max Consecutive Ones

In [ ]:
def findMaxConsecutiveOnes(nums):
    result = curr = 0
    for num in nums:
        if num == 1:
            curr += 1
        else:
            result = max(curr,result)
            curr = 0

    return max(result,curr)

nums = [1,1,0,1,1,1]
print(findMaxConsecutiveOnes(nums))

3

####

### Array II

#### Q1. Set Mismatch

In [ ]:

def findErrorNums(nums):
    s = set()
    for i in nums:
        if i in s:
            repeated = i
        else:
            s.add(i)
    n = len(nums)
    expectedSum = (n * (n+1) )//2
    actualSum = sum(nums)
    missing = repeated + (expectedSum-actualSum)
    return [repeated,missing]

nums = [1,2,2,4]
print(findErrorNums(nums))

[2, 3]

# Misselenious

### 9. Palindrome Number

In [ ]:
def isPalindrome(x):
  if x < 0 : return False

  x = str(x)
  i = 0; j = len(x)-1

  while i <= j :
    if x[i]!=x[j]: return False
    i+=1
    j-=1

  return True

x = 121
isPalindrome(x)

True

### 206. Reverse Linked List

In [ ]:
# Definition for singly-linked list.
# class ListNode:
#     def __init__(self, val=0, next=None):
#         self.val = val
#         self.next = next
class Solution:
    def reverseList(self, head: Optional[ListNode]) -> Optional[ListNode]:
        if not head or not head.next:
            return head

        new_head = self.reverseList(head.next)
        head.next.next = head
        head.next = None
        return new_head

### 238. Product of Array Except Self

In [ ]:
def prodExceptItself(nums):
  n = len(nums)
  res = [1]*n

  prefix = 1
  for i in range(n):
    res[i] = prefix
    prefix *= nums[i]

  suffix = 1
  for i in range(n-1,-1,-1):
    res[i] *= suffix
    suffix *= nums[i]

  return res

nums = [1,2,3,4]
print(prodExceptItself(nums))

[24, 12, 8, 6]

### 2469. Convert the Temperature

In [ ]:
class Solution:
    def convertTemperature(self, celsius: float) -> List[float]:
        return [celsius + 273.15000,celsius*1.80 +32.00]

### 2807. Insert Greatest Common Divisors in Linked List

In [ ]:
# Definition for singly-linked list.
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

from math import gcd

def insertGCD(head):
  curr = head
  while curr.next:
    gNode = ListNode(val= gcd(curr.val,curr.next.val), next= curr.next)
    curr.next = gNode
    curr = curr.next.next
  return head

def iterate(head):
  curr = head
  while curr:
    print(curr.val,end="->")
    curr = curr.next

head = ListNode(18,ListNode(6,ListNode(10,ListNode(3))))
iterate(head)
print()
head = insertGCD(head)
iterate(head)

18->6->10->3->
18->6->6->2->10->1->3->

### 3110. Score of a String

In [ ]:
def scoreString(s):
  res = 0
  for i in range(len(s) - 1):
    res += abs(ord(s[i]) - ord(s[i+1]))
  return res

s = "hello"
scoreString(s)

13

### 3512. Minimum Operations to Make Array Sum Divisible by K

In [ ]:
def minOps(nums,k):
  return sum(nums) % k

nums = [3,9,7]; k = 5
minOps(nums,k)

4

#Daily Questions

## Easy

### 961. N-Repeated Element in Size 2N Array

In [ ]:
from collections import Counter

def repeatedNTimes(nums):
    s = set()
    for i in nums:
        if i in s:
            return i
        s.add(i)

nums = [1,2,3,3]
print(repeatedNTimes(nums))

3

# Neetcode

## Arrays & Hashing

### 217. Contains Duplicate

In [ ]:
def containsDup(nums):
  return len(nums) != len(set(nums))

nums = [1,1,2,3]
print(containsDup(nums))

True

### 242. Valid Anagram

In [ ]:
def isAnagram(self, s: str, t: str) -> bool:
    sF = Counter(s); tF = Counter(t)
    return sF == tF

### 1. Two Sum

In [ ]:
def twoSum(self, nums: List[int], target: int) -> List[int]:
    temp = {}
    for i in range(len(nums)):
        n = nums[i]
        x = target - n
        if x not in temp:
            temp[n] = i
        else:
            return [temp[x],i]

## Binary Search

### 704. Binary Search

In [ ]:
class Solution:
    def search(self, nums: List[int], target: int) -> int:
        left = 0
        right = len(nums) - 1

        while left <= right:
            mid = (left + right) // 2
            if nums[mid]==target:
                return mid
            elif nums[mid] > target:
                right = mid -1
            else:
                left = mid + 1

        return -1

# Two Pointer

### 283. Move Zeroes

In [ ]:
def moveZeroes(nums):
  left = 0
  for right in range(len(nums)):
    if nums[right]!=0:
      nums[right], nums[left] = nums[left], nums[right]
      left +=1

nums = [0,1,0,3,12]
moveZeroes(nums)
print(nums)

[1, 3, 12, 0, 0]